.fbss-comments {
  border: 1px solid #E0E0E0;
  margin: 1em 1.5em;
  padding: 0.75em;
}

.fbss-comments-comment {
  border-bottom: 1px solid #E0E0E0;
  margin: 0.5em 0;
  padding: 0.5em 0.25em 0.75em;
}

.fbss-comments .first {
  margin: 0 0 0.5em;
  padding: 0.25em 0.25em 0.75em;
}

.fbss-comments .last {
  border-bottom: none;
  padding: 0;
}

.fbss-comments-author {
  display: inline;
  padding-right: 0.5em;
}

.fbss-comments-text {
  display: inline;
  padding: 0.5em 0 0;
}

.fbss-comments-closure {
  font-size: 90%;
  margin-top: 0.25em;
}

.fbss-comments-closure span {
  padding-right: 1em;
}

.fbss-comments-created {
  font-style: italic;
}

.fbss-comments-form .resizable-textarea {
  margin: 1.5em 1.5em 1em;
}

.fbss-comments-form .form-submit {
  margin: 0 1.5em;
}

.fbss-comments-hide {
  display: none;
}

/* The "Comment" link. */
.fbss-comments-show-comment-form {
  display: inline;
  font-size: 90%;
  margin-left: 0.5em;
}
.fbss-comments-show-comment-form-inner {
  display: inline;
  font-size: 90%;
  margin-left: 2.25em;
}

/* The "Show all comments" link. */
.fbss-comments-show-comments-link {
  border-bottom: 1px solid #E0E0E0;
  display: block;
  font-size: 90%;
  padding-bottom: 0.5em;
}

/* The "Show all comments" link when it expands instead of redirecting. */
.fbss-comments-show-comments {}
